<div class="form_change">
<form enctype="multipart/form-data" method="post" asp-action="ProfilePic">
	 <input type="file" name="filepic"/> 
                    <button id="btn_upload" type="submit" value="Submit" />

</form>
</div>
