@model ArqInf.Models.Project

@{
    ViewData["Title"] = "Edit";
}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%22%3E
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script%22%3E
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/styles.min.css">
    <link rel="stylesheet" href="~/css/layout.css">
</head>
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54" style="background: url('/img/background/fundo perfil.png');
            background-size: cover;
            padding-top: 10px;
            padding-bottom: 55px;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav" style="padding-bottom: 10px; padding-top: 21px;">
        <div class="container">
            <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <img class="icon" src="~/img/background/icon.png" style="width: 135px;">
                <ul class="navbar-nav ms-auto text-uppercase">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <p style="margin-top: 2%;color:white; text-align: center; font-size: 36px;">Editar Projeto</p>
        <div class="row" style= "display: flex; justify-content: center; align-items: center; text-align: center; margin: 0 auto;">
            <div class="col-md-6" style= "text-align: center; margin-left: -70px;">
                <form asp-action="Edit">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group" style= "margin-top: 2.5%;">
                        <label asp-for="ProjectName" class="control-label" style= "color: white;">Nome do projeto</label>
                        <input asp-for="ProjectName" class="form-control" style= "width: 400px; min-width: 100px;  margin-left: calc(44% - 180px);"/>
                        <span asp-validation-for="ProjectName" class="text-danger"></span>
                    </div>
                    <div class="form-group" style= "margin-top: 2.5%;">
                        <label asp-for="StartDate" class="control-label" style= "color: white;">Data de início</label>
                        <input asp-for="StartDate" class="form-control" style= "width: 400px; min-width: 100px;  margin-left: calc(44% - 180px);"/>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group" style= "margin-top: 2.5%;">
                        <label asp-for="LimitDate" class="control-label" style= "color: white;"> Data limite</label>
                        <input asp-for="LimitDate" class="form-control" style= "width: 400px; min-width: 100px;  margin-left: calc(44% - 180px);"/>
                        <span asp-validation-for="LimitDate" class="text-danger"></span>
                    </div>
                    <div class="form-group" style= "margin-top: 2.5%;">
                        <label asp-for="Description" class="control-label" style= "color: white;">Descrição</label>
                        <input asp-for="Description" class="form-control" style= "width: 400px; min-width: 100px;  margin-left: calc(44% - 180px);"/>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group" style= "margin-top: 2.5%;">
                        <label asp-for="Budget" class="control-label" style= "color: white;">Orçamento</label>
                        <input asp-for="Budget" class="form-control" style= "width: 400px; min-width: 100px;  margin-left: calc(44% - 180px);"/>
                        <span asp-validation-for="Budget" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" style= "margin-top: 3.5%;">
                        <input type="submit" value="Salvar" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
        <div style= "display: block; margin: 0 auto; margin-top: 1.5%; text-align: center;">
            <a asp-action="Index" style="font-weight: bold;">Voltar à lista</a>
        </div>
        
    </section>
    <header class="masthead" style="background-image:url('~/img/header-bg.jpg');">
        <div class="container"></div>
    </header>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/script.min.js"></script>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}