@{
    ViewData["Title"] = "Profile";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/styles.min.css">
  </head>
  <body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav" style="padding-bottom: 10px;padding-top: 21px;">
      <div class="container">
        <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <img src="~/img/background/icon.png" style="width: 135px;">
          <ul class="navbar-nav ms-auto text-uppercase">
            <li class="nav-item" style="width: 52.4px;margin-left: 0px;padding-left: 7px;">
              <i class="fa fa-envelope d-inline-flex" style="margin-right: 15px;font-size: 34.4px;margin-top: 0px;padding-top: 19px;padding-right: 0px;"></i>
            </li>
            @*<li class="nav-item">
              <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="font-size: 18.4px;">Logout</a>
            </li>*@
            <partial name="_LoginPartial" />
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead" style="background-image:url('~/img/header-bg.jpg');">
      <div class="container"></div>
    </header>
    <section class="bg-light" id="portfolio" style="padding-top: 15px;padding-bottom: 15px;">
      <div></div>
      <img class="d-flex" src="~/background/fundoperfil.png" style="width: 100%;margin-top: 55px;">
    </section>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/script.min.js"></script>
  </body>
</html>