@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/styles.min.css">
  </head>
  <body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54" style="background: url('/img/background/fundo perfil.png');
            background-size: cover; 
            padding-top: 10px; 
            padding-bottom: 55px;">
  @*text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,0 0 92px #0fa;*@
    <p style="color:white; text-align: center; font-size: 24px; margin-top:50px;">Por favor verifique o seu email para mudar a sua palavra-passe.</p>
    <div style = "text-align: center; margin-top: 50px">
        <a
            class="btn btn-primary btn-xl text-uppercase" 
            class="form-inline" asp-area="Identity" asp-page="/Account/Login" 
            style="
              border-radius: 62px;
              background: var(--bs-white);
              color: rgb(0, 0, 0);
              width: 145px;
              border-color: var(--bs-body-font-weight);
              display: inline-block;
              margin: 0 auto;
              color:black;
              overflow:visible;
              vertical-align:text-top;
              text-align:center;
              padding: 10px;
              text-overflow: ellipsis;     
            "
            >Ir para a página de Login</a>
    </div>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/script.min.js"></script>
  </body>
</html>
